body {
  background-image: url("http://subtlepatterns.com/patterns/handmadepaper.png");
  margin-top: 40px;

  .page-header {
    border-bottom: 1px dotted #c0c0c0;

    .title {
      padding: 0;
      margin: 0;
    }
  }
}